@charset "utf-8";
.btn.btn-white {
    height: 38px;
    width: 115px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    border: none;
    background-color: #F0F0F0 !important;
}

.btn.btn-white:focus,
.btn.btn-white:hover,
.btn.btn-white.active {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #0EA291;
    background-color: #F0F0F0 !important;
    color: #0EA291 !important;
}

.type-group input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    float: left;
}