@charset "utf-8";

.form-group .tableTop {
    background: gray;
    height: 30px;
    margin: 10px 0;
    padding-top: 5px;
}

.form-group .tableContent {
    margin: 0 0 10px;
}

.form-group .tableTop .text-center {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form-group .btn.btn-success {
    width: 100px;
}

.addSomething {
    cursor: pointer;
}
