<div ng-controller="daochuCtrl">
    <div class="btn-group">
        <button type="button" class="btn form-control btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{teamName?teamName:"请选择团队"}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-click="changeTeam($event)">
            <li data-value="1"><a href="javascript:void(0);">android</a></li>
            <li data-value="2"><a href="javascript:void(0);">ios</a></li>
            <li data-value="3"><a href="javascript:void(0);">java</a></li>
            <li data-value="4"><a href="javascript:void(0);">h5</a></li>
        </ul>
    </div>
    <div class="form-group">
        <h2>本周工作小结</h2>
        <div class="tableTop">
            <div class="col-xs-1">
                姓名
            </div>
            <div class="col-xs-4">
                内容
            </div>
            <div class="col-xs-2 text-center">
                计划日期
            </div>
            <div class="col-xs-1 text-center">
                百分比
            </div>
            <div class="col-xs-2 text-center">
                完成日期
            </div>
            <div class="col-xs-2">
                备注
            </div>
        </div>
        <div class="row" ng-repeat="t in reportConle.doneObj track by $index">
            <div class="tableContent" data-index="{{$index}}">
                <div class="col-xs-1">
                    {{t.name}}
                </div>
                <div class="col-xs-4">
                    {{t.content}}
                </div>
                <div class="col-xs-2 text-center">
                    {{t.planTime}}
                </div>
                <div class="col-xs-1 text-center">
                    {{t.percent}}
                </div>
                <div class="col-xs-2 text-center">
                    {{t.doneTime}}
                </div>
                <div class="col-xs-2">
                    {{t.remark}}
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <h2>本周额外任务</h2>
        <div class="tableTop">
            <div class="col-xs-1">
                姓名
            </div>
            <div class="col-xs-4">
                内容
            </div>
            <div class="col-xs-1 text-center">
                投入时间
            </div>
            <div class="col-xs-2 text-center">
                完成日期
            </div>
            <div class="col-xs-2">
                备注
            </div>
        </div>
        <div class="row" ng-repeat="e in reportConle.extraObj track by $index">
            <div class="tableContent">
                <div class="col-xs-1">
                    {{e.name}}
                </div>
                <div class="col-xs-4">
                    {{e.content}}
                </div>
                <div class="col-xs-1 text-center">
                    {{e.usedTime}}
                </div>
                <div class="col-xs-2 text-center">
                    {{e.doneTime}}
                </div>
                <div class="col-xs-2">
                    {{e.remark}}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <h2>下周计划</h2>
        <div class="tableTop">
            <div class="col-xs-1">
                姓名
            </div>
            <div class="col-xs-4">
                内容
            </div>
            <div class="col-xs-2 text-center">
                计划日期
            </div>
            <div class="col-xs-2">
                备注
            </div>
        </div>
        <div class="row" ng-repeat="p in reportConle.planObj track by $index">
            <div class="tableContent">
                <div class="col-xs-1">
                    {{p.name}}
                </div>
                <div class="col-xs-4">
                    {{p.content}}
                </div>
                <div class="col-xs-2 text-center">
                    {{p.planTime}}
                </div>
                <div class="col-xs-2">
                    {{p.remark}}
                </div>
            </div>
        </div>
    </div>



</div>
