<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/demo.css">
    <script type="text/javascript" src="js/jquery-2-1-3-min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng-controller="Controller">
<div class="container">
    <div class="">
        <div class="row">{{formData.color.name}}</div>
        <div class="row radio-inline">
            <label class="btn btn-white " ng-repeat="v in formData.color.valueList track by $index">
                <input name="color" type="radio" value="1" data-index="{{$index}}" ng-click="showValue1($event);$event.stopPropagation();">
                {{v.value}}
            </label>
        </div>
    </div>
    <div class="">
        <div class="row">{{formData.isspecial.name}}</div>
        <div class="row radio-inline">
            <label class="btn btn-white " ng-repeat="w in formData.isspecial.valueList track by $index">
                <input name="isspecial" type="radio" value="1" data-index="{{$index}}" ng-click="showValue2($event);$event.stopPropagation();">
                {{w.value}}
            </label>
        </div>
    </div>
    <div class="">
        <div class="row">{{formData.size.name}}</div>
        <div class="row radio-inline">
            <label class="btn btn-white " ng-repeat="x in formData.size.valueList track by $index">
                <input name="size" type="radio" value="1" data-index="{{$index}}" ng-click="showValue3($event);$event.stopPropagation();">
                {{x.value}}
            </label>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="row" style="cursor: pointer" ng-click="showMyChoose()">我的选择是________</div>
    <div class="row">{{myChooseId}}</div>
</div>
</body>
</html>

<script>
    var app = angular.module('myApp', []);
    app.controller('Controller', function ($scope) {
        var a = {
            "specificationList": [
                {
                    "specification_id": 4,
                    "valueList": [
                        {
                            "id": 1108,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "46",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1109,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "48",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1110,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "50",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1111,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "52",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1112,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "54",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1113,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "56",
                            "name": "尺码",
                            "pic_url": null
                        },
                        {
                            "id": 1114,
                            "goods_id": 1181119,
                            "specification_id": 4,
                            "value": "58",
                            "name": "尺码",
                            "pic_url": null
                        }
                    ],
                    "name": "尺码"
                },
                {
                    "specification_id": 1,
                    "valueList": [
                        {
                            "id": 1116,
                            "goods_id": 1181119,
                            "specification_id": 1,
                            "value": "定制",
                            "name": "是否定制",
                            "pic_url": null
                        },
                        {
                            "id": 1115,
                            "goods_id": 1181119,
                            "specification_id": 1,
                            "value": "常规",
                            "name": "是否定制",
                            "pic_url": null
                        }
                    ],
                    "name": "是否定制"
                },
                {
                    "specification_id": 9,
                    "valueList": [
                        {
                            "id": 1118,
                            "goods_id": 1181119,
                            "specification_id": 9,
                            "value": "白色",
                            "name": "颜色",
                            "pic_url": null
                        },
                        {
                            "id": 1117,
                            "goods_id": 1181119,
                            "specification_id": 9,
                            "value": "红色",
                            "name": "颜色",
                            "pic_url": null
                        },
                        {
                            "id": 1119,
                            "goods_id": 1181119,
                            "specification_id": 9,
                            "value": "黑色",
                            "name": "颜色",
                            "pic_url": null
                        }
                    ],
                    "name": "颜色"
                }
            ]
        };
        var b = {};
        for (var i = 0; i < a.specificationList.length; i++) {
            if (a.specificationList[i].specification_id == 9) {
                b["color"] = a.specificationList[i];
            }
            if (a.specificationList[i].specification_id == 1) {
                b["isspecial"] = a.specificationList[i];
            }
            if (a.specificationList[i].specification_id == 4) {
                b["size"] = a.specificationList[i];
            }
        }
        $scope.formData = b;

        $scope.showValue1 = function (e) {
            var name = $(e.target).attr("name");
            var index = $(e.target).attr("data-index");
            $scope.colorid=$scope.formData.color.valueList[index].value;
            console.info($scope.colorid);
        };
        $scope.showValue2 = function (e) {
            var name = $(e.target).attr("name");
            var index = $(e.target).attr("data-index");
            $scope.isspecialid=$scope.formData.isspecial.valueList[index].value;
            console.info($scope.isspecialid);
        };
        $scope.showValue3 = function (e) {
            var name = $(e.target).attr("name");
            var index = $(e.target).attr("data-index");
            $scope.sizeid=$scope.formData.size.valueList[index].value;
            console.info($scope.sizeid);
        };

        $scope.showMyChoose = function () {
            $scope.myChooseId = $scope.colorid + "_" + $scope.isspecialid + "_" + $scope.sizeid;
        }
    });

</script>