<div ng-controller="recordCtrl">
    <div class="row-fluid">
        <h2>本周工作小结</h2>
        <div class="tableTop">
            <div class="span4">
                内容
            </div>
            <div class="span2">
                计划日期
            </div>
            <div class="span1">
                百分比
            </div>
            <div class="span2">
                完成日期
            </div>
            <div class="span3">
                备注
            </div>
        </div>
        <div ng-repeat="t in formData.doneObj track by $index">
            <div class="tableContent" data-index="{{$index}}">
                <div class="span4">
                    {{t.content}}
                </div>
                <div class="span2">
                    {{t.planTime}}
                </div>
                <div class="span1">
                    {{t.percent}}
                </div>
                <div class="span2">
                    {{t.doneTime}}
                </div>
                <div class="span3">
                    {{t.remark}}
                </div>
            </div>

        </div>
    </div>

    <div class="row-fluid">
        <h2>本周额外任务</h2>
        <div class="tableTop">
            <div class="span4">
                内容
            </div>
            <div class="span1">
                投入时间
            </div>
            <div class="span2">
                完成日期
            </div>
            <div class="span3">
                备注
            </div>
        </div>
        <div ng-repeat="e in formData.extraObj track by $index">
            <div class="tableContent">
                <div class="span4">
                    {{e.content}}
                </div>
                <div class="span1">
                    {{e.usedTime}}
                </div>
                <div class="span2">
                    {{e.doneTime}}
                </div>
                <div class="span3">
                    {{e.remark}}
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <h2>下周计划</h2>
        <div class="tableTop">
            <div class="span4">
                内容
            </div>
            <div class="span2">
                计划日期
            </div>
            <div class="span3">
                备注
            </div>
        </div>
        <div ng-repeat="p in formData.planObj track by $index">
            <div class="tableContent">
                <div class="span4">
                    {{p.content}}
                </div>
                <div class="span2">
                    {{p.planTime}}
                </div>
                <div class="span3">
                    {{p.remark}}
                </div>
            </div>
        </div>
    </div>




</div>
