<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/writeReport.css">
</head>
<body ng-controller="writeCtrl">
<div class="form-group">
    <h2>本周工作小结</h2>
    <div class="row tableTop">
        <div class="col-xs-4 text-center">
            内容
        </div>
        <div class="col-xs-1 text-center">
            计划日期
        </div>
        <div class="col-xs-1 text-center">
            百分比
        </div>
        <div class="col-xs-1 text-center">
            完成日期
        </div>
        <div class="col-xs-3 text-center">
            备注
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control" ng-model="thisContent">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="thisPlanTime">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="thisPercent">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="thisDoneTime">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="thisRemark">
        </div>
        <div class="btn btn-success" ng-click="addThis()">添加</div>
    </div>
</div>

<div class="form-group">
    <h2>本周额外任务</h2>
    <div class="row tableTop">
        <div class="col-xs-4 text-center">
            内容
        </div>
        <div class="col-xs-1 text-center">
            投入时间
        </div>
        <div class="col-xs-1 text-center">
            完成日期
        </div>
        <div class="col-xs-3 text-center">
            备注
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control" ng-model="extraContent">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="extraUsedTime">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="extraDoneTime">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="extraRemark">
        </div>
        <div class="btn btn-success" ng-click="addExtra()">添加</div>
    </div>
</div>

<div class="form-group">
    <h2>下周计划</h2>
    <div class="row tableTop">
        <div class="col-xs-4 text-center">
            内容
        </div>
        <div class="col-xs-1 text-center">
            计划日期
        </div>
        <div class="col-xs-3 text-center">
            备注
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control" ng-model="nextContent">
        </div>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="nextPlanTime">
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="nextRemark">
        </div>
        <div class="btn btn-success" ng-click="addNext()">添加</div>
    </div>
</div>

<div class="form-group">
    <div class="row text-center">
        <h1>预&nbsp;&nbsp;览</h1>
    </div>


</div>

</body>
</html>